body {
    background-color: #464646;
    margin-top: 0px;
}

#loginBox {
    margin: 0 auto;
    max-width: 20em;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

#box {
    background-color: #ffffff;
    min-height: 160px;
    padding: 1em;
    text-align: center;
    padding-top: 80px; /* until the logo is done... */
}

#shadow {
    background-color: #454545;
    color: #888888;
    min-height:3em;
    padding: 1em;
}

#box input {
    margin-bottom: 5px;
    width: 80%;
}

#box button {
    width: 80%;
    margin-bottom: 15px;
}